[Unit]
Description=Payment Service

[Service]
User=root
WorkingDirectory=/app
Environment=CART_HOST="{{ lookup('amazon.aws.aws_ssm', '{{env}}.{{project_name}}.payment.CART_HOST', region='us-east-1' ) }}"
Environment=CART_PORT="{{ lookup('amazon.aws.aws_ssm', '{{env}}.{{project_name}}.payment.CART_PORT', region='us-east-1' ) }}"
Environment=USER_HOST="{{ lookup('amazon.aws.aws_ssm', '{{env}}.{{project_name}}.payment.USER_HOST', region='us-east-1' ) }}"
Environment=USER_PORT="{{ lookup('amazon.aws.aws_ssm', '{{env}}.{{project_name}}.payment.USER_PORT', region='us-east-1' ) }}"
Environment=AMQP_HOST="{{ lookup('amazon.aws.aws_ssm', '{{env}}.{{project_name}}.payment.AMQP_HOST', region='us-east-1' ) }}"
Environment=AMQP_USER="{{ lookup('amazon.aws.aws_ssm', '{{env}}.{{project_name}}.payment.AMQP_USER', region='us-east-1' ) }}"
Environment=AMQP_PASS="{{ lookup('amazon.aws.aws_ssm', '{{env}}.{{project_name}}.payment.AMQP_PASS', region='us-east-1' ) }}"

ExecStart=/bin/bash /app/python.sh
ExecStop=/bin/kill -9 $MAINPID
SyslogIdentifier=payment

[Install]
WantedBy=multi-user.target