[Unit]
Description=Shipping Service

[Service]
User=roboshop
Environment=CART_ENDPOINT="{{ lookup('amazon.aws.aws_ssm', '{{env}}.{{project_name}}.shipping.CART_ENDPOINT', region='us-east-1' ) }}"
Environment=DB_HOST="{{ lookup('amazon.aws.aws_ssm', '{{env}}.{{project_name}}.shipping.DB_HOST', region='us-east-1' ) }}"
ExecStart=/bin/bash /app/java.sh
SyslogIdentifier=shipping

[Install]
WantedBy=multi-user.target

